@mixin flexcenter {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin flexbetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // flex-wrap: wrap;
}
@mixin flexeven {
    display: flex;
    justify-content: space-evenly;
    
}

@mixin flexbetweenwrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
@mixin flexcenterwrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

@mixin flexright {
    display: flex;
    justify-content: right; 
    flex-wrap:wrap; 
    align-items: center;
}

@mixin flexleft {
    display: flex;
    justify-content: left;
    align-items: center;
    
    // flex-wrap: wrap;
    
}
@mixin flexleftwrap {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    
}

@mixin flexend{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
