.accountformbody{
    background: $accomplish_color;
    padding: 30px 0 80px;
    // height: 100vh;
    color: $white;

    .accountQuestion{
       
        @include flexright;
        gap: 20px;
        padding-right: 30px;

        &__basic{
            font-size: 12px;
        }
        &__button{
           @include button-form_SignIN;    
        }
    }
    .accountCreation{
        padding-top: 40px;
        @media (max-width:767.98px){
            display: none;
        }
        margin-top: 20px;
        text-align: center;
        &__title{
            @include secondary_heading;
            font-weight: 400;
        }
        &__image{
            width: 200px;
            margin: 30px auto 0;
            &-item{
                width: 100%;
            }
        }
    }
    .formItem{
        margin: 20px auto 0;
        width: 300px;
        @media (max-width:344.98px){
            width: 280px;
        }
        // padding: 0 50px;
        &__title{
            font-size: 22px;
            font-weight: 400;

        }
        &__steps{
            @include card-paragraph;
            font-weight: 400;
            opacity: 0.7;
        }
        &__body{
            margin-top: 30px;

            &-item{
                margin-top: 30px;

                &-name{
                    width: 100%;
                    @include card-paragraph;

                    a{
                        color: $white !important;
                    }
                }
                &-hints{
                    @include card-paragraph;
                    font-weight: 400;
                    opacity: 0.6;
                    margin-bottom: 8px;
                }
                &-input{
                    margin-top: 5px;
                    width: 100%;
                    padding: 4px 20px;
                    border-radius: 4px;
                    border: 2px solid transparent !important;
                    color: $black;
                    transition: all 0.5s ease-out;
                    outline: 0;
                }
                label.error{
                    font-size: 14px;
                    color: #f00;
                    margin: 5px 0;
                }
                #checkbox-error{
                    background: $light_orange;
                    color: $white;
                    padding: 5px 10px;
                }
                select:invalid { color: $gray; } 
                
                &-button{
                    @include button-primary;
                }
            }
        }
    }
}